:root {
  --black: #030617;
  --gray: #111828;
  --white: #e9e8e8;
  --green: #00c100;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto' , sans-serif;
}
h2 {
  font-size: 2.5rem;
  color: var(--green);
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

ul a {
  text-decoration: none;
  color: var(--white);
}
a:hover {
  transition: 0.18s;
  color: var(--green);
}

/* header  */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 30px;
  background-color: var(--black);
  color: var(--white);
}

/* Sobre mim */

.sobre {
  padding-top: 100px;
  height: 85vh;
  background-color: var(--gray);
  color: var(--white);
}



.sobrecontent {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.perfil {
  width: 40vw;
}

.texto {
  display: flex;
  flex-direction: column;
  gap: 5%;
  width: 50%;
  align-items: center;
  text-align: justify;
}

.texto .descricao {
  width: 70%;
}

/* Carreira */

.carreira {
  padding: 2%;
  height: 70vh;
  background-color: var(--black);
}

.carreiraContent{
  display: flex;
}

.carreiraContent h2{
  text-align: center;
}

.exp, .educ{
  width: 50%;
  
}

.expContent, .educContent{
  color: var(--white);
  display: flex;
  gap: 7%;
  padding: 10%;

}

.expText{
  display: flex;
  flex-direction: column;
}







/* projetos */

.projetosSection {
  background-color: var(--gray);
  display: flex;
  flex-direction: column;
  gap: 15%;
  padding: 2%;
  padding-bottom: 70px;
  height: 70vh;
}



.projetos {
  display: flex;
  justify-content: center;
  gap: 10%;
}

.projeto {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--black);
  padding: 2%;
  gap: 10%;
  height: 40vh;
  width: 20vw;
  border-radius: 10%;
  cursor: pointer;
}

.projeto:hover{
  
  transform: scale(1.1);
  transition: 0.8s;
}

.projeto img {
  height: 100px;
}

.projeto p {
  color: var(--white);
  font-size: 1.5rem;
}

.projeto a {
  color: var(--black);
  background-color: var(--green);
  border-radius: 7px;
  padding: 3%;
  text-decoration: none;
}

.projeto a:hover {
  transition: 0.18s;
  color: var(--white);
}


/* Contatos */

footer {
  background-color: var(--black);
  color: var(--white);
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 9%;
  align-items: center;
  height: 30vh;
}

.contatoContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  gap: 10%;
}
